*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f8fafc;
}

.section-title{
    font-size:32px;
    font-weight:700;
}

.card-shadow{
    border:none;
    border-radius:16px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}